In [ ]:
print("inteligencia artificial e big data")

SyntaxError: invalid syntax (3586753912.py, line 2)

In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\47202617870\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\47202617870\appdata\roaming\python\python313\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\47202617870\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\47202617870\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\47202617870\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\47202617870\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [6]:
dicionario={
'a':[1,2,3],
'b':[-3,-2,-1],
'c':[0,10,20]
}
label =['1 linha', '2 linha', '3 linha']
Dataframe_01 = pd.DataFrame(dicionario,index=label)
print(Dataframe_01)

         a  b   c
1 linha  1 -3   0
2 linha  2 -2  10
3 linha  3 -1  20

In [7]:
Dataframe_01[['a', 'b']]

         a  b
1 linha  1 -3
2 linha  2 -2
3 linha  3 -1

In [8]:
Dataframe_01[['a','c']]

         a   c
1 linha  1   0
2 linha  2  10
3 linha  3  20

In [11]:
Dataframe_01['nova coluna'] = Dataframe_01['a']*Dataframe_01['b']

In [12]:
Dataframe_01

         a  b   c  nova coluna
1 linha  1 -3   0           -3
2 linha  2 -2  10           -4
3 linha  3 -1  20           -3

In [13]:
a=5
print(a)
print(Dataframe_01)

5
         a  b   c  nova coluna
1 linha  1 -3   0           -3
2 linha  2 -2  10           -4
3 linha  3 -1  20           -3